/* Общие стили для печатной области */
.billStyle {
    max-width: 300px;
    margin: 0 auto;
    padding: 0; /* убрать */
}

.PrintArea {
    padding: 0; /* убрать */
    border: 1px solid #ccc;
}

/* Стиль для чеков */
.receipt {
  font-family: monospace;
  line-height: 1.4;
  font-size: 14px;
}

/* Обертка содержимого */
.receiptBody {
  padding: 10px;
}

/* Вертикальный флекс-контейнер */
.contentReceipt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col-6, .col-10, .col-2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: none !important;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
